In [15]:
import pymongo
from pymongo import MongoClient

In [16]:
conn_str = "mongodb+srv://evelyn:12345@cluster0.ickigle.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(conn_str, serverSelectionTimeoutMS=5000)
try:
    print(client.server_info())
except Exception:
    print("Unable to connect to the server.")

{'version': '6.0.12', 'gitVersion': '21e6e8e11a45dfbdb7ca6cf95fa8c5f859e2b118', 'modules': ['enterprise'], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [6, 0, 12, 0], 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'inMemory', 'queryable_wt', 'wiredTiger'], 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702587732, 14), 'signature': {'hash': b'+\xed\x06\xff\xc2\xd4\xb0\xd1\x9e\x8f\xdd\x98\xdbx\x14"\x94\x96?[', 'keyId': 7264515509884813313}}, 'operationTime': Timestamp(1702587732, 14)}

In [ ]:
#4. At least 2 queries indicating a manager checking sales and inventory performance.

In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#4.1 Manager checking inventory performance - checking fresh products with inventory levels less than 300 on 15/12/2023

In [18]:
myDB = client["Amazone"]
myCollection_InventoryLog = myDB["InventoryLog"]

In [19]:
InventoryLog = myCollection_InventoryLog.find()
InventoryLog_df = pd.DataFrame(InventoryLog)
InventoryLog_df

,_id,date,productID,inventoryQty,warehouse
0,65707fc7d2742fe9193d3abd,2023-12-14 23:59:59.999,656e06e7e14ac00cfca99e0c,4000,"{'name': 'Blue Warehouse', 'location': {'type'..."
1,6573a5a09de800dcd6787d36,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e0c,3800,"{'name': 'Blue Warehouse', 'location': {'type'..."
2,6573b78b9de800dcd6787d95,2023-12-14 23:59:59.999,656e06e7e14ac00cfca99e0d,2000,"{'name': 'Green Warehouse', 'location': {'type..."
3,6573b78b9de800dcd6787d96,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e0d,1100,"{'name': 'Green Warehouse', 'location': {'type..."
4,6573b78b9de800dcd6787d97,2023-12-14 23:59:59.999,656e06e7e14ac00cfca99e0e,1100,"{'name': 'Green Warehouse', 'location': {'type..."
...,...,...,...,...,...
65,6573b78b9de800dcd6787dd4,2023-12-15 23:59:59.999,656e12c6e14ac00cfca99e2c,100,"{'name': 'Purple Warehouse', 'location': {'typ..."
66,6573b78b9de800dcd6787dd5,2023-12-14 23:59:59.999,656e12c6e14ac00cfca99e2d,40,"{'name': 'Purple Warehouse', 'location': {'typ..."
67,6573b78b9de800dcd6787dd6,2023-12-15 23:59:59.999,656e12c6e14ac00cfca99e2d,30,"{'name': 'Purple Warehouse', 'location': {'typ..."
68,6573b78b9de800dcd6787dd7,2023-12-14 23:59:59.999,656e12c6e14ac00cfca99e2e,90,"{'name': 'Purple Warehouse', 'location': {'typ..."
69,6573b78b9de800dcd6787dd8,2023-12-15 23:59:59.999,656e12c6e14ac00cfca99e2e,100,"{'name': 'Purple Warehouse', 'location': {'typ..."

In [20]:
myCollection_FreshProduct = myDB["FreshProduct"]
FreshProduct = myCollection_FreshProduct.find()
FreshProduct_df = pd.DataFrame(FreshProduct)
FreshProduct_df

,_id,name,category,description,productDim,weightOrQty,expDate,countryOrigin,rating,price,cost,stores
0,656e06e7e14ac00cfca99e0c,Blueberry Muffins,Bakery,Soft muffins with blueberries.,Medium,400,2023-12-17 23:59:59.999,UK,4.8,1.99,1.0,"[{'name': 'The City Store', 'location': {'type..."
1,656e06e7e14ac00cfca99e0d,Banana Nut Bread,Bakery,Moist banana bread with nuts.,Large,450,2023-12-18 23:59:59.999,UK,4.3,2.99,0.8,"[{'name': 'The City Store', 'location': {'type..."
2,656e06e7e14ac00cfca99e0e,Spinach and Feta Croissants,Bakery,Buttery croissants with spinach and feta.,Medium,200,2023-12-21 23:59:59.999,UK,4.3,2.50,1.5,"[{'name': 'The Latics Store', 'location': {'ty..."
3,656e06e7e14ac00cfca99e0f,Crispy Baguette,Bakery,"Crunchy on the outside, soft on the inside bag...",Large,200,2023-12-19 23:59:59.999,UK,4.9,1.50,0.5,"[{'name': 'The City Store', 'location': {'type..."
4,656e06e7e14ac00cfca99e10,Chocolate Chip Cookies,Bakery,Classic cookies with chocolate chips.,Small,60,2023-12-21 23:59:59.999,UK,3.6,1.99,1.0,"[{'name': 'The City Store', 'location': {'type..."
5,656e06e7e14ac00cfca99e11,Crisp Red Apples,Fruit and Veg,Crunchy red apples.,Medium,150,2023-12-25 23:59:59.999,UK,4.5,1.99,1.2,"[{'name': 'The City Store', 'location': {'type..."
6,656e06e7e14ac00cfca99e12,Juicy Watermelon Chunks,Fruit and Veg,Sweet and juicy watermelon chunks.,Small,100,2023-12-25 23:59:59.999,UK,4.8,4.99,3.5,"[{'name': 'The City Store', 'location': {'type..."
7,656e06e7e14ac00cfca99e13,Crispy Carrot Sticks,Fruit and Veg,Fresh and crunchy carrot sticks.,Small,80,2023-12-22 23:59:59.999,UK,4.4,2.49,1.8,"[{'name': 'The City Store', 'location': {'type..."
8,656e06e7e14ac00cfca99e14,Garden Salad Mix,Fruit and Veg,"A vibrant mix of fresh greens, tomatoes, and c...",Small,40,2023-12-18 23:59:59.999,UK,4.6,3.99,2.5,"[{'name': 'The Red Devil Store', 'location': {..."
9,656e06e7e14ac00cfca99e15,Fresh Strawberries,Fruit and Veg,Sweet and plump strawberries.,Medium,200,2023-12-21 23:59:59.999,UK,4.7,5.99,3.5,"[{'name': 'The Red Devil Store', 'location': {..."
10,656e06e7e14ac00cfca99e16,Pressed Green Juice Blend,Drink,"A rejuvenating blend of kale, green apples, an...",Medium,160,2023-12-20 23:59:59.999,UK,4.5,3.49,2.0,"[{'name': 'The City Store', 'location': {'type..."
11,656e06e7e14ac00cfca99e17,Mango Tango Sparkling Water,Drink,Quench your thirst with the exotic and refresh...,Large,120,2023-12-19 23:59:59.999,UK,4.2,1.29,0.8,"[{'name': 'The City Store', 'location': {'type..."
12,656e06e7e14ac00cfca99e18,Zesty Citrus Bliss Granola Crunch,Drink,"A delightful blend of whole grains, nuts, and ...",Medium,100,2023-12-20 23:59:59.999,UK,4.6,4.99,3.5,"[{'name': 'The Red Devil Store', 'location': {..."
13,656e06e7e14ac00cfca99e19,Citrus Burst Lemonade,Drink,Refreshing lemonade with a burst of citrus fla...,Large,200,2023-12-21 23:59:59.999,UK,4.7,2.79,1.5,"[{'name': 'The Red Devil Store', 'location': {..."
14,656e06e7e14ac00cfca99e1a,Tropical Fruit Smoothie,Drink,A delightful blend of tropical fruits in a smo...,Medium,160,2023-12-21 23:59:59.999,UK,4.9,3.99,2.0,"[{'name': 'The City Store', 'location': {'type..."

In [21]:
from datetime import datetime
date = datetime(2023,12,15)

In [22]:
inventory_FreshProducts = [
    {"$match":{
        "inventoryQty": {"$lte":300}, 
        "date": {"$gte":date}}},
    {"$lookup":{
        "from":"FreshProduct",
        "localField":"productID",
        "foreignField":"_id",
        "as":"ProductDetails"}},
    {"$unwind":"$ProductDetails"},
    {"$project":{
        "_id":0,
        "date":1,
        "productID":1,
        "inventoryQty":1,
        "Product_Name":1,
        "name":"$ProductDetails.name",
        "warehouse":"$warehouse.name"}},
    {"$sort": {"inventoryQty":1}}
]

In [23]:
Fresh_Inventory = myCollection_InventoryLog.aggregate(inventory_FreshProducts)
Fresh_Inventory_df = pd.DataFrame(Fresh_Inventory)
Fresh_Inventory_df

,date,productID,inventoryQty,name,warehouse
0,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e16,70,Pressed Green Juice Blend,Blue Warehouse
1,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e13,100,Crispy Carrot Sticks,Purple Warehouse
2,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e18,110,Zesty Citrus Bliss Granola Crunch,Green Warehouse
3,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e17,300,Mango Tango Sparkling Water,Green Warehouse
4,2023-12-15 23:59:59.999,656e06e7e14ac00cfca99e19,300,Citrus Burst Lemonade,Yellow Warehouse

In [28]:
results4_1 = Fresh_Inventory_df.to_json(orient='records', default_handler=str)

In [29]:
print(results4_1)

[{"date":1702684799999,"productID":"656e06e7e14ac00cfca99e16","inventoryQty":70,"name":"Pressed Green Juice Blend","warehouse":"Blue Warehouse"},{"date":1702684799999,"productID":"656e06e7e14ac00cfca99e13","inventoryQty":100,"name":"Crispy Carrot Sticks","warehouse":"Purple Warehouse"},{"date":1702684799999,"productID":"656e06e7e14ac00cfca99e18","inventoryQty":110,"name":"Zesty Citrus Bliss Granola Crunch","warehouse":"Green Warehouse"},{"date":1702684799999,"productID":"656e06e7e14ac00cfca99e17","inventoryQty":300,"name":"Mango Tango Sparkling Water","warehouse":"Green Warehouse"},{"date":1702684799999,"productID":"656e06e7e14ac00cfca99e19","inventoryQty":300,"name":"Citrus Burst Lemonade","warehouse":"Yellow Warehouse"}]

In [ ]:
    #4.1 Manager checking quantity sold from Past Orders

In [30]:
myCollection_PastOrders = myDB["PastOrder"]

In [31]:
PastOrders = myCollection_PastOrders.find()
PastOrders_df = pd.DataFrame(PastOrders)
PastOrders_df

,_id,customerId,driverId,CustDriverRating,orderDate,OrderDetails
0,65744b799de800dcd6787e4f,656f8d566c9833ace4dbd369,656e52c7de3586ea2254aeb9,5,2023-11-11 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e0c, 'qty'..."
1,65749785310fac705f7fd445,656f8d566c9833ace4dbd369,656e52c7de3586ea2254aeba,4,2023-11-10 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e0d, 'qty'..."
2,65749785310fac705f7fd446,656f8d566c9833ace4dbd369,656e52c7de3586ea2254aebc,2,2023-11-09 23:59:59.999,"[{'productId': 656e1274e14ac00cfca99e1b, 'qty'..."
3,65749785310fac705f7fd447,656f8d566c9833ace4dbd369,656e52c7de3586ea2254aebd,4,2023-11-10 23:59:59.999,"[{'productId': 656e1274e14ac00cfca99e1b, 'qty'..."
4,65749785310fac705f7fd448,656f8d566c9833ace4dbd369,656e52c7de3586ea2254aebd,3,2023-11-11 23:59:59.999,"[{'productId': 656e1274e14ac00cfca99e1d, 'qty'..."
...,...,...,...,...,...,...
95,65749785310fac705f7fd4a3,6570762cd2742fe9193d3abc,656e52c7de3586ea2254aebd,3,2023-11-11 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e18, 'qty'..."
96,65749785310fac705f7fd4a4,6570762cd2742fe9193d3abc,656e52c7de3586ea2254aebc,4,2023-11-10 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e0f, 'qty'..."
97,65749785310fac705f7fd4a5,6570762cd2742fe9193d3abc,656e52c7de3586ea2254aebc,5,2023-11-07 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e1a, 'qty'..."
98,65749785310fac705f7fd4a6,6570762cd2742fe9193d3abc,656e52c7de3586ea2254aebd,4,2023-11-10 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e1a, 'qty'..."
99,65749785310fac705f7fd4a7,6570762cd2742fe9193d3abc,656e52c7de3586ea2254aebd,3,2023-11-11 23:59:59.999,"[{'productId': 656e06e7e14ac00cfca99e0f, 'qty'..."

In [32]:
daily_orders = [
    {"$unwind":"$OrderDetails"},
    {"$project":{
        "_id":0,
        "quantity":"$OrderDetails.qty",
        "Date": {
            "$dateToString": {
                "format": "%Y-%m-%d", 
                "date": "$orderDate"}}}},
    {"$group":{
        "_id":"$Date",
        "dailyQuantity":{"$sum":"$quantity"}}},
    {"$sort":{"dailyQuantity":-1}}]

Orders = myCollection_PastOrders.aggregate(daily_orders)
Orders_df = pd.DataFrame(Orders)
Orders_df

,_id,dailyQuantity
0,2023-11-10,91
1,2023-11-07,57
2,2023-11-11,54
3,2023-11-09,2

In [33]:
Orders = myCollection_PastOrders.aggregate(daily_orders)
Orders_df = pd.DataFrame(Orders)
Orders_df

,_id,dailyQuantity
0,2023-11-10,91
1,2023-11-07,57
2,2023-11-11,54
3,2023-11-09,2

In [36]:
results4_2 = Orders_df.to_json(orient='records', default_handler=str)

In [37]:
print(results4_2)

[{"_id":"2023-11-10","dailyQuantity":91},{"_id":"2023-11-07","dailyQuantity":57},{"_id":"2023-11-11","dailyQuantity":54},{"_id":"2023-11-09","dailyQuantity":2}]